:root {
  --clr-bg-primary: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  --clr-bg-secondary: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
  --clr-font: hsl(232, 10%, 56%);
  --clr-bg-active-1: hsl(234, 25%, 52%);
  --clr-bg-active-2: hsl(341, 100%, 83%);
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body{
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture, svg {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 1440px;
    margin: 0 auto;
}

img{
    width: 111px;
    height: 27.7px;
}

.container{
    width: calc(100% - (165px + 165px));
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 38.8px;
    align-items: center;
}

.btn{
    width: 167px;
    color: #FFF;
    border: none;
}

.header-footer-btn{
    height: 56px;
    background-color: #13183F;
    border-radius: 28px;
    padding: 14px 32px;
}

button:hover{
    background-color: var(--clr-bg-active-1) ;
    cursor: pointer;
}

