:root {
  /*the most used one*/
  --clr-bg-primary-gradient: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  --clr-bg-secondary-gradient: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
  --clr-bg-section-gradient: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
  --clr-bg: hsl(233,54%,16%);
  --clr-font: hsl(232, 10%, 56%);


  --clr-button-hero: var(--clr-bg-primary-gradient);

  /*background color on hover state*/
  --clr-bg-active-1: hsl(234, 25%, 52%);
  --clr-bg-active-2: hsl(341, 100%, 83%);

  --ff-primary: 'Plus Jakarta Sans', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-body: 1.125rem;
  --fs-heading: 2rem;
  --fs-heading-main: 3.5rem;
  --fs-body-mob: 1rem;
  --fs-heading-mob: 1.5rem;
  --fs-heading-main-mob: 2.5rem;
  --fs-subheading-mob: 1.25rem;


  --fs-button: var(--fs-body);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html, body{
    height: 100%;
}

/* Make images easier to work with */
img,
picture, svg {
  max-width: 100%;
  display: block;
}

body {
    font-family: var(--ff-primary) ;
    font-size: var(--fs-body);
    color: var(--clr-font);
    min-width: 300px;
    max-width: 1440px;
    margin: 0 auto;
    font-weight: var(--fw-semi-bold);
    line-height: 1.5;
}

@media only screen and (max-width: 1438px){
  body {
      font-size: var(--fs-body-mob);
      color: var(--clr-font);
      line-height: 1.6;
    }
  }

a img{
    width: 111px;
    height: 27.7px;
}

.container{
    width: 77%;
    margin: 0 auto;
}


.header{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    align-items: center;
}

.btn{
    font-size: var(--fs-body);
    width: 167px;
    color: #FFF;
    border: none;
}

.header-footer-btn{
    height: 56px;
    background-color: var(--clr-bg);
    border-radius: 28px;
    padding: 14px 32px;
}

.header-footer-btn:hover {
  background-color: var(--clr-bg-active-1);
  cursor: pointer;
}

@media only screen and (max-width: 1438px){
  .btn {
    font-size: var(--fs-body-mob);
    width: 140px;
  }

  .header-footer-btn {
    height: 48px;
    padding: 9px 24px;
  }
  }


/*mobile and tablet*/
/* 
@media only screen and (max-width: 768px){
  body {
      font-size: var(--fs-body-mob);
      color: var(--clr-font);
      line-height: 1.6;
    }

    .btn {
      font-size: var(--fs-body-mob);
      width: 140px;
    }

    .header-footer-btn {
      height: 48px;
      padding: 9px 24px;
    }
} */

/*mobile*/
@media only screen and (max-width: 766px){

  .container {
    width: 91.5%;
  }

  a img{
    width: 87px;
    height: 25px;
  }

  .header{
    margin-top: 1rem;
  }
}


/*tablet*/
@media only screen and (min-width: 767px) and (max-width:1438px) {

  .container {
    width: 90%;
  }

  .header {
    margin-top: 24px;
  }

}

/*main*/

/*hero section*/
.hero-msg {
  max-width: 457px;
  min-width: 343px;
  width: 45%;
  /* height: 32.3%; */
}

.flex {
  display: flex;
}

.hero-msg h1 {
  font-size: var(--fs-heading-main);
  font-weight: var(--fw-bold);
  line-height: 1.27;
  color: var(--clr-bg);
  margin-top: 8.75rem;
}

.hero-par{
  width: 97%;
  margin-top: 1.8rem;
}

.hero-btn {
  margin-top: 2.5rem;
  height: 63px;
  padding: 19px 31px 16px;
  background: var(--clr-button-hero);
  border-radius: 31.5px;
}

.hero-btn:hover {
  background: var(--clr-bg-active-2);
  cursor: pointer;
}

img[src*='hero-desktop-.svg'] {
  position: relative;
  left: 205px;
  bottom: 100px;
  width: 59%;
  z-index: -10;
}

img[src*='hero-mobile.svg']{
  display: none;
}

img[src*='hero-tablet.svg'] {
  display: none;
}


/*mobile and tablet*/

@media only screen and (max-width: 1438px){
   .hero-msg h1 {
    font-size: var(--fs-heading-main-mob);
    font-weight: var(--fw-bold);
    line-height: 1.25;
    color: var(--clr-bg);
    margin-top: 2.4rem;
  }

  .hero-par {
    margin-top: 1.6rem;
  }

  .hero-btn {
    width: 167px;
    margin-top: 1.5rem;
    height: 56px;
    padding: 15px 38px;
    background: var(--clr-button-hero);
    border-radius: 31.5px;
  }
}

/*hero mobile*/
@media only screen and (max-width: 766px){
  .flex {
    display: flex;
    flex-direction: column;
  }

  .hero-msg h1 {
    margin-top: 2.4rem;
  }

  img[src*='hero-desktop-.svg'] {
    display: none;
  }

  img[src*='hero-mobile.svg'] {
    display: block;
  }
}

/*hero tablet*/
@media only screen and (min-width:767px) and (max-width:1439px) {
  .hero-msg h1 {
      margin-top: 6.2rem;
    }

    img[src*='hero-mobile.svg'] {
      display: none;
    }

    img[src*='hero-desktop-.svg'] {
      display: none;
    }

  img[src*='hero-tablet.svg'] {
    display: inline-block;
    position: relative;
    bottom: 50px;
    width: 57.6%;
    z-index: -10;
  }

  .hero-par {
    width: 398px;
    margin-top: 1.8rem;
  }
}


/*courses section*/

.courses{
  background: var(--clr-bg-section-gradient);
  height: 1695px;
}

/*mobile and tablet share the same size*/

/* .course-list{
  margin-bottom: 5rem;
} */

.cta{
  width: 100%;
  height: 10.8%;
  background: var(--clr-bg-primary-gradient);
  border-radius: 15px;
  padding: 1.5rem 1.8rem 2rem;
  /* border: 2px blue solid; */
}

.cta h2{
  width: 83.3%;
  font-size: var(--fs-heading-mob);
  font-weight: var(--fw-semi-bold);
  color: #FFF;
  line-height: 1.3;
}

.course{
  margin-top: 1rem;
  /* height: 82.5%; */
  height: 283px;
  /* padding: 3.5rem 1.8rem 2rem 1.75rem; */
  border: 2px solid red;
}

.course img{
  position: absolute;
  margin-left: 1.75rem;

}

.course-info{
  height: 91.5%;
  max-height: 259px;
  margin-top: 1.5rem;
  padding: 3.5rem 1.5rem 2rem 1.75rem;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border: 1px solid black;
}

.course-info h3 {
  font-size: var(--fs-subheading-mob);
  color: var(--clr-bg);
  font-weight: var(--fw-extra-bold);
}

.course-info p{
  margin: 1rem 0 1.5rem;
}

.course-info a{
  text-decoration: none;
  color: #F02AA6;
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
}

@media only screen and (min-width:767px) and (max-width:1439px){
  
  .courses{
    height: 999px;
  }

  .course{
    margin-top: 0;
  }
  .cta{
    height: 91.5%;
    max-height: 259px;
    margin-top: 1.5rem;
    padding: 3.5rem 1.4rem 8.6rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border: 1px solid black;
  }
  
  .course-list{
    display: grid;
    justify-items: start;
    width: 100%;
    height: 913px;
    grid-template: repeat(3, 31%)/repeat(2, 49.2%);
    gap: 2rem 0.7rem  ;
  }

  .course-info{
    padding: 3.5rem 1.1rem 2rem 2rem;
  }
}

@media only screen and (min-width:1439px){
  
  .courses{
    height: 888px;
  }
 
  .course-list{
    display: grid;
    /* justify-items: start; */
    width: 100%;
    max-width: 1110px;
    height: 748px;
    grid-template: repeat(2, 46.26%)/repeat(3, 31.5%);
    gap: 3.5rem 1.875rem  ;
  }

  .course{
    margin-top: 0;
    max-height: 322px;
  }

  .cta{
    height: 91.5%;
    max-height: 322px;
    margin-top: 1.5rem;
    padding: 3.5rem 1.4rem 8.6rem 2rem;
    border-radius: 10px;
    border: 1px solid black;
  }

  .course-info{
  height: 100%;
  max-height: 322px;
  margin-top: 1.5rem;
  padding: 5.5rem 2rem 2.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border: 1px solid black;
    padding: 3.5rem 1.1rem 2rem 2rem;
  }
}







